@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// want to customize Bulma? Do it here.

@import "~bulma/sass/utilities/derived-variables";
@import "~bulma";


$margin-xl : 30px;
$margin-lg : 20px;
$margin-md : 14px;
$margin-sm : 10px;
$margin-xs : 6px;

$padding-xl: 30px;
$padding-lg: 20px;
$padding-md: 14px;
$padding-sm: 10px;
$padding-xs: 6px;
